<h1>
  D O G - R O Y A L
</h1>

<app-newGameForm (validation)="newGameData($event)"></app-newGameForm>


<div *ngIf="!winner">
  <div *ngIf="start">

    <app-players [players]="playersTry" (choosenElements)="elementChoosen($event)"></app-players>

    <br/>
    <app-deck [deck]="deckTry" (pick5Cards)="distribuate($event)"></app-deck>
    <br/>
    <app-gameBoard [nbCases]="this.nbCases" [players]="playersTry"></app-gameBoard>
  </div>
</div>
<div *ngIf="winner">

  PLAYER {{winner.id}} YOU WIN !!! CONGRATs!!

</div>
